.order {
  width: 497px;
  padding: 32px;
}
.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #121212;
}
.info {
    margin: 26px 0 32px 0;
}
.button {
  background: #eeeeee;
  border-radius: 8px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 12px 0;
}
