.order {
  width: 497px;
  padding: 32px;
}
.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #121212;
}
.info {
  margin: 10px 0 26px 0;
}
.button {
  background: #eeeeee;
  border-radius: 8px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 12px 0;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 16px 0;
}
.dot {
  flex-grow: 1;
  border-bottom: 2px dotted #999;
  margin: 0 12px 4px;
}
.name {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  display: block;
  text-align: end;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
