.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // flex: 1 1 688px;
  // width: calc(55% + 64px);
  width: 53%;
  background: #ffffff;
  padding: 32px 64px;
  height: 100%;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 30px;
  color: #0ec261;
}
.location {
  display: flex;
}
.location_text {
  margin-left: 7.54px;
  font-size: 14px;
  color: #999999;
}
.title {
  font-weight: bold;
  font-size: 70px;
  color: #121212;
  line-height: 66px;
}
.subtitle {
  font-weight: bold;
  font-size: 70px;
  color: #0ec261;
  line-height: 66px;
}
.text {
  font-weight: 300;
  font-size: 26px;
  color: #999999;
  line-height: 30px;
  margin-top: 34px;
}
.button {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
  border-radius: 8px;
  padding: 11px 46px;
  margin: 75px 0 0 0;
  &:hover {
    background: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%);
  }
  &:active {
    background: linear-gradient(90deg, #076432 2.61%, #013C27 112.6%);
  }
}
.footer {
  display: flex;
  justify-content: space-between;
}
.copyright {
  font-size: 13px;
  color: #999999;
}
.number {
  font-size: 13px;
  color: #121212;
}

@media (max-width: 1023px) {
  .content {
    width: 100%;  
  }
}

@media (max-width: 767px) {
  .content {
    padding: 16px;
  }
  .header {
    flex-direction: column;
    align-items: flex-end;
  }
  .logo {
    margin-bottom: 8px;
  }
  .button {
    width: 100vw;
    margin: 0 -16px;
    border-radius: 0;
  }
  .footer {
    width: 100vw;
    flex-direction: column-reverse;
    align-items: flex-end;
    background-color: #151B1F;
    margin: 0 -16px -16px -16px;
    padding-bottom: 16px;
  }
  .copyright {
    color: #EEEEEE;
    margin: 0 16px 0 0;
  }
  .number {
    color: #0EC261;
    margin: 16px 16px 8px 0;
  }
  .title {
    font-size: 32px;
    line-height: 100%;
  }
  .subtitle {
    font-size: 32px;
    margin: 6px 0 16px 0;
    line-height: 100%;
  }
  .text {
    font-size: 18px;
    margin: 0 0 32px 0;
    line-height: 21px;
  }
}