.location {
  width: 100%;
  padding: 32px 0;
}
.map_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  margin-bottom: 16px;
}
.map {
    width: 736px;
    height: 352px;
}
